<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="UserMapper">

	<insert id="createUser">
		insert into user (PHONE_NUM, PASSWORD, NAME, NICKNAME ,GENDER, DETAIL_OCCUPATION_CODE, POINT_JG, LOGIN_COUNT, LEVEL,
		USER_SERVICE_AGRMENT, USER_INFO_AGRMENT )
		values( #{phoneNum}, #{password}, #{name}, #{nickname}, #{gender}, #{detailOccupationCode}, #{pointJG}, #{loginCount},
		#{level, typeHandler=com.timeIsGold.appNow.User.Service.EnumTypeHandler}, #{userServiceAgrment}, #{userInfoAgrment})
	</insert>
	<delete id="deleteAll">
		delete from user
	</delete>
	<delete id="deleteUser">
		delete from user where PHONE_NUM = #{phoneNum}
	</delete>
	<select id="readUser" resultMap="userResult">
		select * from user where PHONE_NUM = #{phoneNum}
	</select>
	<select id="readAll" resultMap="userResult">
		select * from user order by NAME
	</select>
	
	<update id="updateUser" parameterType="User">
		update user 
		 <trim prefix="SET" suffixOverrides=",">
		 	<if test="password != null">PASSWORD = #{password},</if>
		 	<if test="name != null">NAME = #{name},</if>
		 	<if test="nickname != null">NICKNAME = #{nickname},</if>
		 	<if test="detailOccupationCode != null">DETAIL_OCCUPATION_CODE = #{detailOccupationCode},</if>
		 	<if test="pointJG != 0">
		 		POINT_JG = POINT_JG + #{pointJG},
		 		LOGIN_COUNT = LOGIN_COUNT + 1,
		 	</if>
		 	<if test="level != null">LEVEL = #{level, typeHandler=com.timeIsGold.appNow.User.Service.EnumTypeHandler},</if> 
		 </trim>
		 <if test="phoneNum != null">where PHONE_NUM = #{phoneNum}</if>
	</update>

	<resultMap type="User" id="userResult">
		<result property="phoneNum" column="phone_num"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="nickname" column="nickname"/>
		<result property="gender" column="gender"/>
		<result property="detailOccupationCode" column="detail_occupation_code"/>
		<result property="pointJG" column="point_jg"/>
		<result property="loginCount" column="login_count"/>
		<result property="level" column = "level" typeHandler="com.timeIsGold.appNow.User.Service.EnumTypeHandler"/>
		<result property="userServiceAgrment" column="user_service_agrment"/>
		<result property="userInfoAgrment" column="user_info_service"/>
	</resultMap>
	
</mapper>	